<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>dao.factory.implementation</param-name>
		<param-value>de.schott.gae.football.dao.jpa.JPADaoFactory</param-value>
		<description>Initial value of DAO-implementation.</description>
	</context-param>

	<!-- Servlets -->
	<servlet>
		<servlet-name>DCLProject</servlet-name>
		<servlet-class>de.schott.gae.football.DCLProjectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DCLProject</servlet-name>
		<url-pattern>/dclproject/install</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userServiceImpl</servlet-name>
		<servlet-class>de.schott.gae.football.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServiceImpl</servlet-name>
		<url-pattern>/dclproject/userservice</url-pattern>
		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>leagueServiceImpl</servlet-name>
		<servlet-class>de.schott.gae.football.server.LeagueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leagueServiceImpl</servlet-name>
		<url-pattern>/dclproject/leagueservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>gameServiceImpl</servlet-name>
		<servlet-class>de.schott.gae.football.server.GameServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gameServiceImpl</servlet-name>
		<url-pattern>/dclproject/gameservice</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DCLProject.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>